.container {
	margin:auto;
	width:100%;
	position: relative;
}

.header {
	background-color: #999;
	padding-top: 80px;
	padding-bottom: 80px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 100;
}

h1 {
	text-align: center;
}

form {
	width: 70%;
	margin:auto;
	border-bottom: 2px solid #999;
	border-left: 2px solid #999;
	border-right: 2px solid #999;
	border-radius: 4px;
	padding: 20px;
}

textarea {
	width: 100%;
	margin:auto;
}

input {
	width: 100%;
	margin:auto;
}

.quoteButton {
	background-color: #C0C0C0;
	border: 2px solid #fff;
	color: #999;
	padding: 4px;
	width: 200px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	z-index: 90;
}

.quoteButton:hover {
	opacity: .8;
}

.buttonSubmit {
	width: 100%;
	color: #000;
}

.quoteBox {
	border-bottom: 1px solid #888888;
	border-top: 1px solid #888888;
	padding: 0px;
	/*position: relative;*/
	padding: 40px 0px 40px 5px;
	margin: 16px auto;
	width: 100%;
}

.buttonDelete {
	position: absolute;
	bottom: 0px;
	right: 0px;
	/*border: 1px solid #000;
	border-radius: 10px;
	padding: 5px;*/
	width: 20%;
	text-align: center;
	float: right;
	margin-top: 10px;
}